@use "../Variable/index" as v;

.bacground
{
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    overflow: hidden;
    z-index: -2;
}

@keyframes bg-animatrin {
    0% {
        background-position: left;
    }

    100% {
        background-position: right;
    }
}

#bg0 {
    background: v.$green;
    background: linear-gradient(
        75deg,
        rgba(238, 249, 29, 1) 15%,
        rgba(128, 248, 73, 1) 28%,
        rgba(93, 247, 104, 1) 48%,
        rgba(47, 246, 118, 1) 74%,
        rgba(0, 245, 162, 1) 100%
    );
    background-size: 400%;
    animation: bg-animatrin 30s infinite alternate;
    z-index: -2;
}

#bg1 {
    background: v.$blue;
    background: linear-gradient(
        75deg,
        rgba(29, 205, 249, 1) 15%,
        rgba(73, 169, 248, 1) 28%,
        rgba(104, 93, 247, 1) 48%,
        rgba(108, 47, 246, 1) 74%,
        rgba(162, 0, 245, 1) 94%
    );
    background-size: 400%;
    animation: bg-animatrin 30s infinite alternate;
    z-index: -2;
}

#bg2 {
    background: v.$purple;
    background: linear-gradient(
        75deg,
        rgba(108, 29, 249, 1) 0%,
        rgba(136, 73, 248, 1) 23%,
        rgba(166, 93, 247, 1) 46%,
        rgba(179, 47, 246, 1) 70%,
        rgba(236, 0, 245, 1) 96%
    );
    background-size: 400%;
    animation: bg-animatrin 30s infinite alternate;
    z-index: -2;
}

#bg3 {
    background: v.$red;
    background: linear-gradient(
        75deg,
        rgba(249, 29, 131, 1) 0%,
        rgba(248, 73, 125, 1) 23%,
        rgba(247, 93, 93, 1) 46%,
        rgba(246, 115, 47, 1) 70%,
        rgba(245, 92, 0, 1) 96%
    );
    background-size: 400%;
    animation: bg-animatrin 30s infinite alternate;
    z-index: -2;
}